$header:(
    margin-li-button: 5px,
    padding-ul-button: 5px,
    color-header-border: $naranja,
    color-header-bg: $header-bg-color,
    color-button-h: $naranja-fuerte,
    color-button: rgb(255, 145, 0)
);

$footer:(
    color-bg: lightblue,
    color-bd-top: rgb(66, 110, 207),
    img-size: 50px,
)