$bd-size: 3px;
$bd-type: solid;

$naranja-fuerte: rgb(255, 94, 0);
$naranja: orange;
$perros-bg-color: rgb(189, 138, 91);
$perros-bd-color: rgb(173, 111, 53);
$gatos-bg-color: rgb(101, 189, 167);
$gatos-bd-color: rgb(29, 117, 95);
$header-bg-color: rgb(255, 212, 196);
